
.AcountMenu{
width:80%;
float:right;
margin-top:22px;
margin-right:10%;	
margin-bottom:10px;
}

.AcountMenu cel{
float:left;
pdding:5px;
margin-right:40px;
}

.AcountMenu cel img{
float:left;
width:20px;
}

.AcountMenu cel span{
float:left;
padding:0px 10px;
color:#666;
font-size:12px;
line-height:16px;
}

.DashBoardMenu{
width:100%;
height:auto;
float:right;	
background:#FFFFA6;
padding:10px 0%;
margin-top:20px;
}

.DashBoardMenu cell{
width:auto;
height:30px;
float:right;
margin-left:10px;
color:#444;
padding:0px 10px;
font-size:13px;
}

.DashBoardMenu cell:hover{
opacity:0.9;
}
.DashBoardMenu cell img{
height:22px;
float:Right;
margin:2px 9px;
opacity:1;
}

.MyacountChangeThumb{
width:92%;
height:60px;
padding:10px 4%;
float:Right;
background:#fff;
margin-bottom:1px;
}

.MyacountChangeThumb thumb{
width:60px;
height:60px;
float:Right;
background-color:#f0f0f0;
}

.MyacountChangeThumb span{
width:auto;
height:20px;
float:Right;
margin-top:20px;
margin-right:10px;
font-size:12px;
color:#999;
}

.FastEditSettingsContener{
width:92%;
min-height:220px;
padding:0px 4% 40px 4%;
float:Right;
margin-bottom:5px;
background:#fff;
}

.FastEditSettingsContener_title{
width:100%;
float:Right;
padding:20px 0px;
color:#2F2933;
font-size:15px;
font-weight:bold;
text-align:right;
}

.FastEditSettingsCell{
width:100%;
min-height:40px;
border-bottom:1px solid #f8f8f8;
float:right;
margin-top:10px;
padding:10px 0px;
text-align:right;
}

.FastEditSettingsCell label{
width:30%;
min-height:40px;
float:right;
color:#777;
font-size:13px;
}
.FastEditSettingsCell InfoArea{
width:70%;
min-height:40px;
float:right;
color:#888;
font-size:13px;
}
.FastEditSettingsCell ActionArea{
width:20%;
height:30px;
float:left;
color:#2F2933;
font-size:12px;
font-weight:bold;
cursor:pointer;
display:none;
}


.FastEditSettingsCell HiddenArea{
width:100%;
min-height:40px;
float:right;
color:#2F2933;
font-size:12px;
font-weight:bold;
padding:15px 0px;
display:none;
}
.FastEditSettingsCell input{
width:100%;
padding:5px 2%;
float:right;
border-bottom:2px solid #FF8C00;
border-top:0;
border-right:0;
border-left:0;
text-align:right;
margin:10px 0px;
}
.FastEditSettingsCell button{
float:left;
margin:5px 0px;
padding:5px 20px;
}
.FastEditSettingsCell ErrorReport{
text-align:right;
background:#FFF0F5;
float:right;
color:#555;
font-weight:normal;
width:96%;
padding:10px 2%;
margin-top:2px;
display:none;
}
.FastEditSettingsCell ErrorReport img{
height:18px;
float:Right;
margin:4px;
}

.FastEditSettingsCell NoticReport{
text-align:right;
background:#BBFFBB;
float:right;
color:#555;
font-weight:normal;
width:96%;
padding:10px 2%;
margin-top:2px;
display:none;
}
.CloseFastEdit{
width:20px;
float:left;
display:none;
}
.FastEditSettingsCell NoticReport img{
height:18px;
float:Right;
margin:4px;
}

.DashBoardUsersCell{
width:96%;
padding:20px 2%;
float:right;
min-height:40px;
background:#ffff;
text-align:right;
margin-bottom:1px;
}


.DashBoardUsersCellThumb{
width:40px;
height:40px;
float:right;
background:#f0f0f0;
}

.DashBoardUsersCellName{
width:40%;
float:Right;
height:30px;
color:#555;
margin:5px 10px;
font-size:13px;
}

.DashBoardUsersCellShowMore{
width:15px;
cursor:pointer;
margin-top:13px;
float:left;
opacity:0.9;
}


.DashBoardUsersOptionsContener{
width:100%;
float:right;
min-height:40px;
background:#fff;
padding:10px 0px;
margin-top:10px;
display:none;
}

.DashBoardUsersOptionsContener cel{
width:100%;
float:right;
min-height:30px;
line-height:30px;
padding:5px 0px;
border-bottom:1px solid #f0f0f0;
margin-top:2px;
font-size:12px;
color:#555;
cursor:pointer;
}

.DashBoardUsersOptionsContener cel:hover{ background:#f5f5f5; }

.DashBoardUsersOptionsContener cel img{
width:20px;
float:right;
margin:5px;
margin-left:10px;
}

.changeRankCell{
width:auto;
margin-left:10px;
background:#2F2933;
float:right;
padding:0px 20px;
border-radius:2px;
color:#fff;
font-size:12px;
}

.ShowUserInformationCell{
width:100%;
float:right;	
}
.ShowUserInformationCell Prop{
width:28%;
padding:10px 1%;
float:right;
color:#333;	
font-size:14px;
font-weight:bold;
}

.ShowUserInformationCell Tex{
width:68%;
padding:10px 1%;
float:right;
color:#666;	
font-size:14px;
}

.DashBoardContener{
width:80%;
float:right;
margin-top:15px;
margin-right:10%;
}

.SubMenu{
width:100%;
height:auto;
float:right;	
background:#FF8C00;
padding:10px 0%;
margin:0px;
}

.SubMenu cell{
width:auto;
height:30px;
float:right;
margin-left:10px;
color:#fff;
padding:0px 10px;
font-size:12px;
}

.SubMenu cell:hover{
opacity:0.7;
}
.SubMenu cell img{
height:17px;
float:Right;
margin:5px 9px;
opacity:0.9;
}

.DashBoard_About{
width:96%;
min-height:40px;
background:#666;
float:right;
margin:10px 0px;
padding:20px 2%;
opacity:0.9;
}

.DashBoard_About p{
margin:0px 10px;
float:Right;
color:#fff;
font-size:14px;
}

.DashBoard_About img{
width:15px;
float:Right;
padding:10px;
background:#2F2933;
border-radius:100px;
opacity:0.9;
}

.SettingsBody{
width:100%;
float:right;
margin-top:50px;
}

.SettingsBody notice{
width:96%;
float:right;
margin:10px 0px;
background:#BDF271;
padding:20px 2%;
text-align:right;
font-size:13px;
color:#444;
}
.SettingsBody notice imgSide{
width:auto;
float:right;
max-height:100%;
}

.SettingsBody notice img{
width:25px;
margin-left:20px;
float:right;
}

.SiteSettingCell{
width:98%;
float:Right;
margin-bottom:1px;
padding:5px 1%;
background:#fff;
min-height:50px;
text-align:right;
}
.SiteSettingCell icon{
width:35px;
height:35px;
float:right;
background:#FF8C00;
margin:7px 0px;
border-radius:100px;
opacity:0.8;
}
.SiteSettingCell icon img{
width:18px;
margin:9px;
float:right;
}
.SiteSettingCell key{
float:right;
width:22%;
color:#2F2933;
height:30px;
margin-top:10px;
margin-right:10px;
font-size:13px;
cursor:pointer;
}
.SiteSettingCell CurrentValue{
float:right;
width:45%;
color:#777;
height:30px;
margin-top:10px;
margin-right:10px;
font-size:14px;
cursor:pointer;
}
.SiteSettingCell EditArea{
float:right;
width:100%;
min-height:100px;
border-top:1px solid #f2f2f2;
margin-top:10px;
display:none;
}
.SiteSettingCell EditArea notice{
float:right;
width:96%;
padding:15px 2%;
margin-top:10px;
background:#FFFCB7;
font-size:12px;
color:#555;
}
.SiteSettingCell EditArea input{
float:right;
width:100%;
height:50px;
padding:0px 2%;
font-size:13px;
border-bottom:2px solid #FF8C00;
border-right:0px;
border-left:0px;
border-top:0px;
text-align:right;
}
.SiteSettingCell EditArea button{
float:left;
margin-top:10px;
}

/* This Is Start Of Content Settings */

.ContentFilterMenu{
width:100%;	
height:auto;
margin-bottom:20px;
float:right;
}


.ContentFilterMenu button{
float:right;
}



.ContentSettingCel{
width:92%;
padding:20px 4%;
float:right;
cursor:pointer;
background:#fff;
margin-bottom:5px;	
color:#666;
font-size:13px;
text-align:right;
}

.ContentSettingCel content{
width:70%;
float:right;
}

.ContentSettingCel button{
width:30px;
height:30px;
float:left;
border:0;
background:#2F2933;
border-radius:100px;
margin-right:10px;
}

.ContentSettingCel button img{
width:15px;
float:left;
margin:0px;
}

.AddNewContentSetting{
width:50%;
padding:0px 0%;
float:right;
background:#fff;
margin:10px 25%;
}

.LangContentTitle{
width:100%;
margin-bottom:10px;
float:right;	
font-size:14px;
text-align:right;
color:#555;
font-weight:bold;
}

.LangContent{
width:96%;
float:right;
padding:20px 2%;
max-height:370px;
overflow-x:auto;
margin-bottom:20px;
}

.LangContent textarea{
width:100%;
height:100px;
float:right;
text-align:right;
font-size:13px;
border:1px solid #ccc;
color:#333;
padding:5px;
border-radius:2px;
margin-bottom:20px;
}

.LangContent input{
width:100%;
height:40px;
float:right;
border:1px solid #ccc;
color:#333;
text-align:right;
font-size:12px;
border-radius:2px;
padding:5px;
margin-bottom:5px;
}

.LangContent button{
float:left;
}
/* This Is End Of Content Settings */

.TermsAndPrivacyInput{
width:100%;
padding:10px 2%;
float:right;
margin-bottom:20px;
min-height:350px;
border-right:0px;
border-top:0px;
border-left:0px;
border-bottom:2px solid #FF8C00;
font-size:13px;
color:#555;
text-align:right;
}

TermsAndPrivacyLangTag{
width:auto;
float:right;
margin:15px 0px 0px 0px;
background:#FF8C00;
color:#fff;
font-size:13px;
padding:5px 10px;
}

.TermsAndPrivacySaveBut{
float:left;
}


.AddNewCatPanilBody{
width:54%;
float:right;
margin:20px 21%;
background:#fff;
padding-bottom:10px;
}

.AddNewCatBut{
float:left;	
margin-top:10px;
}

.AddNewCatPanilBody form{
padding:10px 4%;
}


.AddNewCatPanilDescription{
width:92%;
text-align:right;
padding:10px 0px;
font-size:13px;
color:#fff;
padding:20px 4%;
background:#FF8C00;
height:50px;
}

.AddNewCatPanilDescription span{width:auto;float:right;margin-top:10px;}

.SelectCatThumb{
width:100px;
height:50px;
float:left;
border-radius:100px;
text-align:center;
}

.SelectCatThumb thumb{
width:35px;
height:35px;
float:right;
background-color:#fff;
margin:0px 30%;
border-radius:40px;
}

.SelectCatThumb span{
width:100%;
height:10px;
float:right;
color:#fff;
font-size:11px;
margin:0;
}

.CategoriesCellSettings{
width:98%;
float:left;
background:#fff;
float:right;
padding:10px 1%;
margin-bottom:4px;
text-align:right;
font-size:14px;
color:#555;
}

.CategoriesCellSettings img{
float:left;
margin:5px;
width:20px;
cursor:pointer;
}

.addNewContent{
float:left;
margin-top:10px;
}

.ContentPostHeader{
width:92%;
float:right;
background:#2F2933;
margin-top:10px;
padding:25px 4%;
text-align:right;
font-size:13px;
color:#fff;
}

.ContentPostHeader img{
width:20px;
margin-left:10px;
margin-top:3px;
float:right;
}

.ContentPostBody{
width:92%;
float:right;
background:#fff;
margin-top:0px;
padding:20px 4%;
min-height:400px;
}

.DashBoardPostGropCel{
width:100%;	
float:right;
margin-top:1px;
}

.DashBoardPostCel{
width:96%;
padding:15px 2%;
background:#fff;
float:right;
text-align:right;
}

.DashBoardPostCel postTitle{
float:right;
color:#555;
font-size:13px;
width:30%;
}
.DashBoardPostCel postCat{
float:right;
color:#888;
font-size:11px;
width:100%;
height:25px;
margin-top:2px;
}
.DashBoardPostCel thumb{
width:55px;
height:55px;
float:left;
background:#FF8C00;
opacity:0.2;
}

.DashBoardPostCelOptions{
width:96%;
padding:15px 2%;
background:#fff;
float:right;
margin-top:2px;
text-align:right;
display:none;
}


.DashBoardPostCelOptions button{
background:transparent;
border:0px;
color:#444;
font-size:12px;
cursor:pointer;
margin-left:15px;
}

.DashBoardPostCelOptions button img{
width:15px;
float:right;
margin-left:8px;
margin-top:7px;
}

.DashBoardPostCelOptions userInfo{
float:left;
width:auto;
}

.DashBoardPostCelOptions userInfo thumb{
width:30px;
height:30px;
background-color:#29D9C2;
float:left
}

.DashBoardPostCelOptions userInfo name{
font-size:13px;
margin:2px 5px;
color:#29D9C2;
float:left;
}

.DashBoardPostGropCel:hover .DashBoardPostCel thumb{
border-radius:0px;
opacity:1;
}

.FilterMenu{
width:96%;
padding:5px 2%;
min-height:50px;
float:right;
background:#2F2933;
margin:10px 0px;	
}

.FilterSearchBut{
width:35px;
height:35px;
pdding:5px;
margin-top:6px;
margin-left:5px;
float:right;
background:#FFFFA6;
border-radius:100px;
cursor:pointer;
}

.FilterSearchBut img{
width:17px;
margin:10px 8px;
float:right;
}

@media screen and (max-width:500px){ 
.DashBoardContener{width:100%;margin:10px 0px;}

.SiteSettingCell icon{width:29px;height:29px;}
.SiteSettingCell icon img{width:16px;margin:7px;}
.SiteSettingCell key{width:70%;}
.SiteSettingCell currentvalue{width:70%;}

.DashBoardPostCelOptions userInfo{width:100%;}

.AddNewContentSetting{width:96%;margin:50px 2%;}
}