Debugs_Calls{
width:280px;
color:#fff;
tex-align:left;
direction:ltr;
background-color:#000;
position:fixed;
bottom:100px;
left:30px;
z-index:200;
padding:10px;
}

Debugs_Calls the_title{
width:100%;
height:40px;
float:right;
line-height:40px;
color:#fff;
tex-align:left;
color:#DB5145;
border-bottom:1px solid #fff;
}

Debugs_Calls the_body{
width:100%;
height:300px;
float:right;
overflow:auto;
font-size:12px;
}