.PrimaryMenu{
width:100%;
float:left;
margin-top:30px;
padding:5px 0%;
color:#2E0927;
font-size:14px;
border-bottom:1px solid #2E0927;
}

.PrimaryMenu cel{
float:left;
height:40px;
line-height:40px;
text-align:left;
margin-right:50px;
}

.PrimeContentBlock{
width:23%;
height:300px;
background:#fff;
float:left;
margin-right:2%;
margin-top:20px;
}

.PrimeContentBlock thumb{
width:100%;
height:200px;
border-radius:0px;
background-color:#FF8C00;
float:left;
}

.PrimeContentBlock theTitle{
width:90%;
padding:10px 5%;
float:left;
text-align:left;
font-size:14px;
color:#444;
}

.PrimeContentBlock button{
float:right;
padding:3px 15px;
margin-right:5%;
background:#FF8C00;
border:0px;
font-size:12px;
border-radius:2px;
color:#fff;
}

.contentPageContener{
width:100%;
float:left;
margin-top:50px;
}

.contentPageContener ContentSide{
width:65%;
float:right;
background:#fff;
min-height:300px;
padding:10px 0%;
}

.contentPageContener ContentBody{
width:100%;
float:right;
background:#000;
min-height:400px;
}

.contentPageContener sideBar{
width:31%;
float:left;
background:#fff;
min-height:300px;
padding:10px 1%;
}

.contentTitle{
width:96%;
font-size:13px;
color:#666;
float:left;
border-bottom:1px solid #F0F0F0;	
text-align:left;
padding:7px 2%;
margin-bottom:5px;
}

.shareBut{
width:150px;
height:40px;
margin:10px 2% 0px 2%;
float:left;
text-align:left;
font-size:12px;
cursor:pointer;
}

.shareBut icon{
width:35px;
height:35px;
float:left;
border-radius:100px;
background:#000;
margin-right:10px;
}
.shareBut icon img{
width:20px;
margin:7px;
float:left;
}
.shareBut text{
float:left;
margin-top:5px;
}

.shareButsContener{
width:96%;
padding:5px 2%;
float:left;
display:none;
margin-top:10px;
}

.shareButsContener but{
width:22px;
height:22px;
background:#FF8C00;
float:left;
padding:9px;
border-radius:100px;
margin-right:20px;
}

.shareButsContener but img{
width:17px;
margin:3px;
}

.suggestedPost{
width:96%;
padding:5px 2%;
float:left;
margin-bottom:10px;
opacity:0.4;
}

.suggestedPost:hover{
opacity:0.9;
}

.suggestedPost thumb{
width:80px;
height:80px;
float:left;
background-color:#000;
border-radius:0px;
}

.suggestedPost suggestedTitle{
float:left;
text-align:left;
font-size:14px;
color:#666;
padding:10px 5%;
min-width:50%;
}

.suggestedPost button{
float:right;
padding:3px 15px;
margin-right:5%;
background:#FF8C00;
border:0px;
font-size:12px;
border-radius:2px;
color:#fff;
}

@media screen and (max-width:500px){ 
.PrimaryMenu cel{width:96%;background:#FF8C00;padding:5px 2%;margin-bottom:1px;color:#fff;font-size:13px;}
.PrimeContentBlock{width:100%;}
.contentPageContener contentside{width:100%;}
.contentPageContener sidebar{width:98%;margin-top:10px;}

}